.btn-sgpi {
    color: #ffffff;
    background-color: #929AA3;
    border-color: #33247D;
}

.btn-sgpi:hover,
.btn-sgpi:focus,
.btn-sgpi:active,
.btn-sgpi.active,
.open .dropdown-toggle.btn-sgpi {
    color: #ffffff;
    background-color: #7C7C8A;
    border-color: #33247D;
}

.btn-sgpi:active,
.btn-sgpi.active,
.open .dropdown-toggle.btn-sgpi {
    background-image: none;
}

.btn-sgpi.disabled,
.btn-sgpi[disabled],
fieldset[disabled] .btn-sgpi,
.btn-sgpi.disabled:hover,
.btn-sgpi[disabled]:hover,
fieldset[disabled] .btn-sgpi:hover,
.btn-sgpi.disabled:focus,
.btn-sgpi[disabled]:focus,
fieldset[disabled] .btn-sgpi:focus,
.btn-sgpi.disabled:active,
.btn-sgpi[disabled]:active,
fieldset[disabled] .btn-sgpi:active,
.btn-sgpi.disabled.active,
.btn-sgpi[disabled].active,
fieldset[disabled] .btn-sgpi.active {
    background-color: #929AA3;
    border-color: #33247D;
}

.btn-sgpi .badge {
    color: #929AA3;
    background-color: #ffffff;
}

.btn-sgpi .fa {
    color: #333;
}

.panel-sgpi {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #d2d6de;
}

.panel-sgpi-header {
    border-bottom: 1px solid #d2d6de !important;
}

@media (min-width: 992px) {
    .container-sgpi {
        margin-left:7%;
        margin-right:7%;
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 1200px) {
    .container-sgpi {
        margin-left:10%;
        margin-right:10%;
        padding-left:10px;
        padding-right:10px;
    }
}

.borde-rectangular{
    border-radius: 0;
}

.altura_74{
    height: 74px;
}

.invalid_control{
    /*border-color: red;*/
    box-shadow: 0 1px 1px #8B0000 inset, 0 0 8px red;
    outline: 0 none;
}

.error-text{
    color: #8B0000;
}

.error-text{
    color: #8B0000;
}

.row-sin-margen{
    margin-left: 0;
    margin-right: 0;
}

.overlay-externo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7)
}

.btn-sm{
    border-radius:0;
}

.white-readonly{
    background-color: #fff !important;
}

.nombre_rol_admin{
    font-size: 30px;
}

@media (min-width: 768px) {
    .nombre_rol_admin{
        font-size: 35px;
    }
}